@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format('woff2'),
    url("../fonts/ptsansbold.woff") format('woff');
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;

  min-width: 768px;
}

.wrapper {
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #fff;
}

.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 6% 0;
  list-style: none;

  background-color: #fff;
}

.main-nav__item {
  display: block;
  padding-top: 15px;
  padding-right: calc(22.72% - 130px);
  width: 22.72%;
  min-height: 56px;
  text-align: left;
}

.main-nav__item:nth-child(4n - 1) {
  margin-left: 9.1%;
}

.main-nav__item:nth-child(4n - 1),
.main-nav__item:nth-child(4n) {
  padding-right: 0;
  padding-left: calc(22.72% - 130px);
  text-align: right;
}

.main-nav__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;

  max-width: 110px;
  word-break: break-all;
}

.main-nav__link:hover {
  color: rgb(129, 179, 210);
}

.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__link--active {
  color: #766357;
}

.main {
  display: block;
}

.intro {
  margin-bottom: 55px;
  padding-top: 76px;
  height: 512px;
  background: #a2b6c5 url("../img/background-photo.jpg") 50% 28.8%;
  background-size: 100% auto;
}

.intro::after {
  content: "";
  display: block;
  height: 62px;
  background: url("../img/polygon.png") no-repeat center;
  background-size: 100.2% 59px;
  border-bottom: 5px solid #fff;
}

.intro__img {
  display: block;
  margin: 0 auto 23px;
}

.main__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;

  margin: 0 auto 28px;
  width: 500px
}

.advantage {
  margin-bottom: 50px;
}

.advantage__heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;

  margin: 0 auto 51px;
  width: 700px;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 0;
  padding: 0;
  list-style: none;

  counter-reset: ad-number;
}

.advantage__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  order: 3;
}

.advantage__row--first {
  order: 1;
}

.advantage__row--second {
  order: 2;
}

.advantage__element {
  padding: 47px 0 15px;
  width: 33.33%;
  min-height: 256px;
  background-color: #eee;
}

.advantage__element--bg--blue {
  background-color: #81b3d2;
}

.advantage__service {
  padding: 60px 0 15px;
  width: 33.33%;
  min-height: 330px;
  background-color: #fff;
}

.advantage__service--housing::before {
  content: url("../img/icon-1.svg");
  display:block;
  width: 75px;
  height: 72px;
  margin: 0 auto 29px;
}

.advantage__service--food::before {
  content: url("../img/icon-3.svg");
  display:block;
  width: 74px;
  height: 70px;
  margin: 0 auto 31px;
}

.advantage__service--souvenir::before {
  content: url("../img/icon-2.svg");
  display:block;
  width: 64px;
  height: 76px;
  margin: -4px auto 29px;
}

.advantage__container-img {
  position: relative;
  width: 66.66%;
  min-height: 256px;
  overflow: hidden;
}

.advantage__img {
  position: absolute;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

.advantage__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;

  margin: 0 auto 23px;
  width: 160px;
}

.advantage__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;

  margin: 0 12%;
}

.advantage__title--white,
.advantage__text--white {
  color: #fff;
}

.advantage__counter::before {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  counter-increment: ad-number;
  content: "– №" counter(ad-number) " –";
  display: block;
  margin-bottom: 22px;
}

.search-hotel__heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;

  margin: 0 auto 24px;
  width: 680px;
}

.search-hotel__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;

  margin: 0 auto 47px;
  width: 440px;
}

.search-hotel__btn,
.search-hotel__submit {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;

  padding: 0;

  border: none;
}

.search-hotel__btn {
  display: block;
  margin: 0 auto;
  padding: 25px 50px;
  width: 568px;
  min-height: 86px;
}

.search-hotel__btn:hover,
.search-hotel__btn:focus {
  background-color: #604e43;
  outline: none;
}

.search-hotel__btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*Снять коменты при подключении js*/

.search-hotel__anchor-popup {
  /*display: none;*/
  position: relative;
  margin: 0 auto;
  width: 568px;
  height: 0;
}

/*.show-popup {*/
  /*display: block;*/
/*}*/

.search-hotel__popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  transform-origin: top;
  /*transform: scaleY(0);*/
  transition-duration: 500ms;
}

/*.drop-down-popup .search-hotel__popup {*/
  /*transform: scaleY(1);*/
/*}*/

.search-hotel__form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 55px;
  transform-origin: bottom;
  /*transform: translateY(-80%) scaleY(3);*/
  transition-duration: 500ms;
  bottom: 0;

  background-color: #fff;
}

/*.drop-down-popup .search-hotel__form {*/
  /*transform: translateY(0) scaleY(1);*/
/*}*/

.search-hotel__submit {
  margin-top: 24px;
  padding: 10px 50px;
  background-color: #81b3d2;
  width: 458px;
  min-height: 58px;
}

.search-hotel__submit:hover,
.search-hotel__submit:focus {
  background-color: #669ec0;
}

.search-hotel__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  outline: none;
}

.search-hotel__element {
  position: relative;
  margin-bottom: 30px;
}

.search-hotel__element--small {
  width: 229px;
}

.search-hotel__label,
.search-hotel__input,
.search-hotel__sing {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.86;
  color: #000000;
  text-transform: uppercase;
  outline: none;
}

.search-hotel__input {
  padding: 0 30px 0 8px;
  width: 343px;
  height: 38px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.search-hotel__input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb;
}

.search-hotel__input:focus {
  background-color: #fff;
}

.search-hotel__label {
  display: inline-block;
  padding-top: 6px;
  width: 111px;
  height: 38px;
  background-color: #fff;
}

.search-hotel__calendar-btn {
  position: absolute;
  padding: 0;
  top: 7px;
  right: 8px;
  width: 21px;
  height: 22px;
  border: none;
  outline: none;
  background: transparent;
  fill: #a9a9a9;
}

.search-hotel__calendar-btn:hover .search-hotel__calendar-icon {
  fill: #000;
}

.search-hotel__calendar-btn:active .search-hotel__calendar-icon {
  fill: #81b3d2;
}

.search-hotel__label--text--center {
  padding-left: 27px;
  text-align: center;
}

.search-hotel__input--small {
  margin: 0 -4px;
  padding: 0 0 0 13px;
  width: 38px;
}

.search-hotel__sing {
  position: relative;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  vertical-align: top;
}

.search-hotel__sing::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 12px;
  height: 3px;
  transform: translate(50%, -50%);
  background-color: #a9a9a9;
}

.search-hotel__sing--plus::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 3px;
  height: 12px;
  transform: translate(50%, -50%);
  background-color: #a9a9a9;
}

.search-hotel__sing:hover::before,
.search-hotel__sing--plus:hover::after,
.search-hotel__sing:focus.search-hotel__sing::before,
.search-hotel__sing:focus.search-hotel__sing--plus::after {
  background-color: #000;
}

.search-hotel__sing:active.search-hotel__sing::before,
.search-hotel__sing:active.search-hotel__sing--plus::after {
  background-color: #81b3d2;
}

.map {
  width: 100%;
  height: 473px;
  background: url("../img/map.jpg") 50% 0;
}

.footer {
  display: flex;
}

.footer__column {
  margin: 0;
  padding: 0;
  width: 33.33%;
  min-height: 120px;
}

.follow-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0;
  list-style: none;
}

.follow-us__item {
  margin: 6px 3px;
}

.follow-us__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.follow-us__link:hover {
  background-color: #669ec0;
}

.follow-us__link:active {
  background-color: #5496bd;
}

.follow-us__link::before {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.follow-us__link:active::before {
  opacity: 0.3;
}

.follow-us__link--twitter::before {
  content: url("../img/twitter.svg");
  width: 17px;
  height: 15px;
}

.follow-us__link--fb::before {
  content: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.follow-us__link--youtube::before {
  content: url("../img/youtube.svg");
  width: 20px;
  height: 16px;
}

.footer__column--text--large {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;

  padding: 47px 50px 40px;
}

.footer__column--text--small {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;

  padding: 40px 30px 25px;
}

.footer_htmlacademy-link {
  display: inline-block;
  width: 118px;
  height: 40px;
}

.footer__htmlacademy-logo {
  margin-left: 4px;
  width: 114px;
  height: 40px;
  vertical-align: middle;
  fill: #231f20;
}

.footer__htmlacademy-logo:hover {
  fill: #81b3d2;
}

.footer__htmlacademy-logo:active {
  fill: #bdbbbc;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 26px 6% 5px;
  min-height: 217px;
  background: #a2b6c5 url("../img/filter-background.jpg") center;
  background-size: 100% auto;
}

.filters__group {
  margin: 0;
  padding: 0;
  width: 216px;
  border: none;
}

.filters__group--center {
  margin-left: 3.74%;
}

.filters__group--right {
  margin-left: auto;
  width: 30.1%;
  min-width: 222px;
}

.filters__group-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;

  margin-bottom: 25px;
}

.filters__group-name--margin {
  margin-bottom: 10px;
}

.filters__checkbox,
.filters__label-input,
.slider__text-field,
.filters__btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
}

.filters__checkbox {
  position: relative;
  display: block;
  margin-bottom: 26px;
  padding-left: 40px;
  width: 175px;
}

.filters__checkbox:before {
  position: absolute;
  content: url("../img/checkbox-off.svg");
  top: -1px;
  left: 0;
  width: 23px;
  height: 23px;
}

input[type="checkbox"]:checked + .filters__checkbox:before {
   content: url("../img/checkbox-on.svg");
   width: 27px;
 }

input[type="checkbox"]:disabled + .filters__checkbox:before {
  content: url("../img/checkbox-off-gray.svg");
  width: 23px;
}

input[type="checkbox"]:disabled:checked + .filters__checkbox:before {
  content: url("../img/checkbox-on-gray.svg");
  width: 27px;
}

.filters__wrapper-btn {
  text-align: center;
}

.filters__btn {
  margin-bottom: 18px;
  min-width: 137px;
  max-width: 220px;
  min-height: 36px;
  border: 2px solid #fff;
  border-radius: 3px;
}

.filters__btn:hover {
  color: #000;
  background-color: #fff;
}

.slider__value-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px;
  width: 100%;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 3px;
}

.slider__text-field {
  flex-grow: 1;
  width: 50%;
  height: 22px;
  box-shadow: 2px 0 0 #fff;
  text-align: center;
}

.slider__path-bar {
  margin-bottom: 32px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__bar {
  position: relative;
  margin-left: 4%;
  margin-right: 17%;
  height: 2px;
  background-color: #fff;
}

.slider__pin {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 23px;
  border-radius: 40%;
  background-image: url("../img/filter-button.svg");
}

.slider__pin:hover {
  transform: scale(1.1);
}

.slider__pin--left {
  left: -10px;
}

.slider__pin--right {
  right: -10px;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px 6%;
  min-height: 87px;
  border-bottom: 1px solid #e5e5e5;
}

.sort__resume {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #fff;

  padding-right: 10px;
  width: 164px;
}

.sort__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #fff;

  margin-top: 4px;
  width: 100px;
}

.sort__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 350px;
  margin: 3px 0 0;
  padding: 0;
  list-style: none;
}

.sort__list--right {
  margin-left: auto;
  max-width: 42px;
}

.sort__item-type {
  margin-left: 15px;
  margin-right: 18px;
}

.sort__item-by {
  margin-left: 6px;
}

.sort__direction {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  color: #cacaca;
  text-transform: uppercase;
  background-color: #fff;

  text-decoration: none;
}

.sort__direction:hover {
  color: #231f20;
}

.sort__direction:active,
.sort__direction--active {
  color: #81b3d2;
}

.sort__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  background-color: #fff;

  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort__link:hover {
  color: #81b3d2;
}

.sort__link--active {
  color: #81b3d2;
  border-color: transparent;
}

.sort__link:active {
  color: #000;
  border-color: transparent;
}

.catalog {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.inn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.inn__img {
  margin-left: 6%;
  width: 135px;
  height: 90px;
}

.inn__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  margin-left: 30px;
  margin-right: 6%;
  width: 74.3%;
}

.inn__heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;

  margin: -5px 0 0;
  width: 400px;
}

.inn__heading:hover {
  color: #81b3d2;
}

.inn__heading:active {
  color: rgba(0, 0, 0, 0.3);
}

.inn__stars {
  width: 110px;
  margin-top: -3px;
  margin-left: calc(100% - 510px);
  text-align: right;
}

.inn__star-img {
  width: 18px;
  height: 17px;
}

.inn__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  background-color: #fff;

  margin: 5px 0 0;
  max-width: 400px;
}

.inn__text-cell {
  display: inline-block;
  padding-right: 5px;
  width: 112px;
}

.inn__buttons-row {
  margin-top: 15px;
  width: calc(100% - 120px);
}

.inn__btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;

  display: inline-block;
  padding: 4px 8px 2px;
  min-width: 110px;
  max-width: 180px;
  min-height: 27px;
}

.inn__btn--reserve {
  margin-left: 3px;
  min-width: 142px;
  background-color: #766357;
}

.inn__btn:hover {
  background-color: #669ec0;
}

.inn__btn--reserve:hover {
  background-color: #604e43;
}

.inn__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.inn__rating {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #666666;
  text-transform: uppercase;
  text-decoration: none;

  margin-left: auto;
  margin-top: 15px;
  padding: 4px 5px 2px;
  width: 110px;
  min-height: 27px;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}































